<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增酒店列表')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-hotel-add">
         	<div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>酒店名称：</label>
                <div class="col-sm-8">
                    <input name="hotelName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">酒店负责人：</label>
                <div class="col-sm-8">
                    <input name="hotelManager" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">酒店类型：</label>
                <div class="col-sm-8">
                    <select name="hotelType" class="form-control m-b" th:with="type=${@dict.getType('sys_hotel_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>酒店定位：</label>
                <div class="col-sm-8">
                    <input name="address" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">酒店负责人电话：</label>
                <div class="col-sm-8">
                    <input name="phone" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">酒店座机电话：</label>
                <div class="col-sm-8">
                    <input name="telPhone" class="form-control" type="text">
                </div>
            </div>
            
            <div class="form-group">    
                <label class="col-sm-3 control-label">房间数量：</label>
                <div class="col-sm-8">
                    <input name="roomNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">房间类型：</label>
                <div class="col-sm-8">
                    <select name="roomType" class="form-control m-b" th:with="type=${@dict.getType('sys_room_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">房间描述：</label>
                <div class="col-sm-8">
                    <input name="roomDesc" class="form-control" type="text">
                </div>
            </div>
             <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>设备默认商品方案：</label>
                <div class="col-sm-8">
                   <select id='name' class="form-control selectpicker"  data-live-search="true"> 
                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/hotel"
        $("#form-hotel-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-hotel-add').serialize());
            }
        }
        $(function() {
      	 　$.ajax({  // get请求地址       　　 　　
      		 url: prefix + "/add",
      		 dataType: "json",
      		 success: function (data) { 
      			 　var optArr = [];          　　
      			 for (var i = 0; i < data.length; i++) {
      				 　　$('.selectpicker').append("<option value=" + data[i].userName + ">" + data[i].userName + "</option>");　
      			}          　　// 缺一不可          　　
      			$('#name').selectpicker('refresh');
					$('#name').selectpicker('render');
				}   });
  	});
    </script>
</body>
</html>